altair==5.5.0
altex==0.2.0
annotated-types==0.7.0
asn1crypto==1.5.1
blinker==1.9.0
boto3==1.40.14
botocore==1.40.14
cachetools==6.1.0
certifi>=2023.5.7
cffi==1.15.0
charset-normalizer==2.1.1
click==8.2.1
cloudpickle==3.0.0
colorama==0.4.6
comm==0.1.2
contourpy==1.3.2
cryptography==3.4.7
cycler==0.12.1
defusedxml==0.7.1
distlib==0.3.4
dotenv==0.9.9
entrypoints==0.3
faker==13.3.0
fastjsonschema==2.16.0
filelock==3.4.2
fonttools==4.27.0
gitdb==4.0.9
GitPython==3.1.24
h11==0.13.0
h2==4.0.0
httpx==0.23.0
idna==3.3
imbalanced-learn==0.10.1
imblearn==0.0
ipykernel==6.7.0
ipython==7.31.1
jinja2==3.1.0
joblib>=1.1.1
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune>=2.0.3,<3
nbclient==0.5.10
nbconvert==7.2.2
numpy>=1.25
openai==0.11.1
pandas==1.4.2
plotly==5.3.1
requests==2.27.1
scikit-learn==1.0.2
seaborn==0.11.2
streamlit==1.49.1
tenacity==8.0.1
tornado==6.1
tqdm==4.62.3
typing_extensions>=4.10.0
xgboost==1.5.1
shap==0.44.0